{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Add Earning</h1>
    <form method="POST" enctype="multipart/form-data" id="add-earning-form" class="needs-validation" novalidate>
        {% csrf_token %}
        
        <div class="form-group mb-3">
            {{ form.reference.label_tag }}
            {{ form.reference|add_class:"form-control" }}
        </div>
        
        <div class="form-group mb-3">
            {{ form.description.label_tag }}
            {{ form.description|add_class:"form-control"|attr:"rows:3" }} <!-- Render as textarea with 3 rows -->
        </div>

        <div class="form-group mb-3">
            {{ form.amount.label_tag }}
            {{ form.amount|add_class:"form-control" }}
        </div>

        <div class="form-group mb-3">
            {{ form.date.label_tag }}
            {{ form.date|add_class:"form-control" }}
        </div>

        <div class="form-group mb-3">
            {{ form.attachment.label_tag }}
            {{ form.attachment|add_class:"form-control-file" }}
        </div>
        
        <div class="container">
            <div class="row">
              <div class="col-6">
                <a href="{% url 'dashboard' %}" class="btn btn-secondary btn-md btn-block">Cancel</a>
              </div>
              <div class="col-6">
                <button type="submit" class="btn btn-success btn-md btn-block">Add Earning</button>
              </div>
            </div>
        </div>
    </form>
</div>
<br>
{% endblock %}
